*.o
*.x
*.mod
*.MOD
*.save
*.restart
*.upf
*.UPF
*.dSYM
*.a
*.out
*.swp
doc/_build/
Modules/west_version.f90
west_make.inc
make.depend
__pycache__
Pytools/WEST.egg-info/
Pytools/dist/
Pytools/files.txt
